# remove html file extension https://example.com/page.html
# to https://example.com/page
Options + FollowSymLinks
RewriteEngine On
RewriteCond % {THE_REQUEST} / index.html HTTP[NC]
RewriteRule (.*)index.html$ /$1 [R = 301, L]
