@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400&display=swap');

body {
    padding: 5;
    background-color: #f4f4f5;
opacity: 1;
background-image:  radial-gradient(#b19cd9 0.5px, transparent 0.5px), radial-gradient(#b19cd9 0.5px, #f4f4f5 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}



nav {
    background-color: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px !important;
    text-align: center;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

  nav a {
    color: #413713 !important;
   }
   
   nav a:hover {
       color: #606746 !important;
   }
   nav .dropdown-menu a:focus {
    background-color: #606746 !important;
    color: #f4f4f5 !important;
   }
   
   .dropdown-menu {
       background-color: #bbaacd;
   }
   
   nav.dropdown-menu a:active {
       color: #F4f4f5 !important;
   }
h1 {
    text-align:left;
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}

p {
    font-size: 20px;
    font-family: 'Halant', serif;
    font-weight: 350;
    color: #413713;
    }

.container {
    justify-content: center;
    padding-top: 25px;
    height: 50px;
}

#me {
    height: 250px;
    width: auto;
    border-radius: 50%;
}

#profile-pic {
    text-align: center;
}

#contact-logos {
    text-align: center;
}

img.icon {
    height: 50px;
    width: auto;
}

#container-animation {
    opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

#container-animation-2 {
    opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

#container-animation-3 {
    opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

#profile-pic {
    opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#footer-design {
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}

#footer-des {
    font-size: small !important;
}

#copyright {
    color: #413713; 
}

button.btn {
    background-color: #413713 !important;
    border: none !important;
    color:#f4f4f5 !important;
    font-family: 'Josefin Sans', sans-serif;
}

button.navbar-toggler {
    border: none !important;
}

::placeholder {
    font-family: 'Halant', serif;
}

.mb-3 {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}

.btn {
    background: #413713;
    color: #f4f4f5;
}

.btn:hover {
    background: #bbaacd;
}

