html {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


body {
    color: white !important;
    background: linear-gradient(293deg, #bbaacd, #adb095, #b19cd9, #b39eb5);
    background-size: 800% 800%;

    -webkit-animation: linearGradient 6s ease infinite;
    -moz-animation: linearGradient 6s ease infinite;
    -o-animation: linearGradient 6s ease infinite;
    animation: linearGradient 6s ease infinite;
}

@-webkit-keyframes linearGradient {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes linearGradient {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-o-keyframes linearGradient {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes linearGradient {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}

.welcome-title-container {
    height: 100%;
    text-align: center;
    padding-top: 60px;
    opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
.logo-container {
    display: flex;
    justify-content: center;
    height: 32vw;
    opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}


h1 {
    font-family: 'Josefin Sans', sans-serif
    !important;
    font-size: 5rem;
}

h1 #title {
    display: inline-block;
    letter-spacing: 1px !important;
    font-weight: 400;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 #sub {
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 1;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 3rem !important;
    }
.fade-in-links {
        font-size: 2rem !important;
    }
}
#emphasize {
    color: #41373d;
    font-weight:800;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
}

div {
    display: block;
}

.container {
    justify-content:center;
    display: flex;
    width: 80vw;
}

.row {
    text-align:center;
}

.nav-link {
    color: white !important;
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif
    !important;
    text-align:center;
}
.row {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.row {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

.row a:hover,.row:focus,.row:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    color: #41373d !important;
  }

.icon {
    height: auto;
    width: 7rem;
    padding-bottom: 13px;
    display: inline-block;
    justify-content: center;
    justify-self: center;
}

.container-fluid {
    opacity: 1;
	-webkit-animation-name: fade-in;
	        animation-name: fade-in;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
}

* { 
    color:#fff; 
    text-decoration: none !important;
}

a .typewrite {
    text-decoration: none;
}