@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400&display=swap');

body {
    padding: 5;
    background-color: #f4f4f5;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f4f4f5 10px ), repeating-linear-gradient(#e5e5f7, #ffff );
    transition: ease-in-out;
}

nav {
    background-color: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px !important;
    text-align: center;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

nav a {
 color: #413713 !important;
}

nav .nav-item a:hover {
    color: #606746 !important;
}

.dropdown-menu {
    background-color: #bbaacd;
}

.active, .focus {
    background-color: #606746 !important;
    color: #F4f4f5 !important;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}
#footer-design {
    font-size: x-small;
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}

#copyright {
    color: #413713; 
}

.card-title {
    color:#413713;
    text-align: center;
    font-family: 'Halant', serif;
    font-size: 1.8rem;
}

.card {
    border: none;
    background-color: transparent !important;
}


.card-text {
    color:#413713;
    font-family: 'Halant', serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    font-weight: lighter;
}

.text-center a {
    font-family: 'Halant', serif;
    color: #F4f4f5;
}

.btn-success { 
    color: #F4f4f5; 
    background-color: #606746; 
    border-color: #F4F4F5; 
  } 
   
  .btn-success:hover, 
  .btn-success:focus, 
  .btn-success:active, 
  .btn-success.active, 
  .open .dropdown-toggle.btn-success { 
    color: #F4f4f5; 
    background-color: #BBAACD; 
    border-color: #F4F4F5; 
  } 
   
  .btn-success:active, 
  .btn-success.active, 
  .open .dropdown-toggle.btn-success { 
    background-image: none; 
  } 
   
  .btn-success.disabled, 
  .btn-success[disabled], 
  fieldset[disabled] .btn-success, 
  .btn-success.disabled:hover, 
  .btn-success[disabled]:hover, 
  fieldset[disabled] .btn-success:hover, 
  .btn-success.disabled:focus, 
  .btn-success[disabled]:focus, 
  fieldset[disabled] .btn-success:focus, 
  .btn-success.disabled:active, 
  .btn-success[disabled]:active, 
  fieldset[disabled] .btn-success:active, 
  .btn-success.disabled.active, 
  .btn-success[disabled].active, 
  fieldset[disabled] .btn-success.active { 
    background-color: #606746; 
    border-color: #F4F4F5; 
  } 
   
  .btn-success .badge { 
    color: #606746; 
    background-color: #F4f4f5; 
  }