@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400&display=swap');

body {
    padding: 5;
    background-color: #f4f4f5;
    opacity: 1;
    background-image: repeating-linear-gradient(#e5e5f7, #ffff);
    transition: ease-in-out;
}

nav {
    background-color: rgb(187, 170, 205, 0.95) !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px !important;
    text-align: center;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-link {
    color: #f4f4f5 !important;
}

nav a:hover {
    color: #413713 !important;
}

nav .dropdown-menu a:focus a:active a:hover {
    background-color: #bbaacd !important;
    color: #f4f4f5 !important;
}

nav.dropdown-menu a {
    background-color: #F4f4f5;
    color: #413713;
}

.space {
    height: 17vh;
}

/* Small devices (landscape phones, 576px and down) */

@media (max-width: 576px) {
    nav {
        background-color: rgb(187, 170, 205, 0.8);
    }

    .space {
        height: 15vh !important;
    }
}

/* Medium devices (tablets, 992px and down) */
@media (max-width: 992px) {
    .space {
        height: 10vh;
    }
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}

#footer-design {
    font-size: x-small;
    font-family: 'Josefin Sans', sans-serif;
    color: #413713;
}

#copyright {
    color: #413713;
}

.card-title {
    color: #413713;
    text-align: center;
    font-family: 'Halant', serif;
    font-size: 1.8rem;
}

.card {
    border: none;
    background-color: transparent !important;
}


.card-text {
    color: #413713;
    font-family: 'Halant', serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    font-weight: lighter;
}

.text-center a {
    font-family: 'Halant', serif;
    color: #F4f4f5;
}

.btn-success {
    color: #F4f4f5;
    background-color: #606746;
    border-color: #F4F4F5;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #F4f4f5;
    background-color: #BBAACD;
    border-color: #F4F4F5;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #606746;
    border-color: #F4F4F5;
}

.btn-success .badge {
    color: #606746;
    background-color: #F4f4f5;
}

.card-img-top {
    border-radius: 1rem;
}